# ======================================
# Visual Studio files
# ======================================
.vs/
*.sln
*.suo
*.user
*.aps
*.cache
*.opensdf
*.sdf
*.pdb
*.idb

# ======================================
# Visual Studio Project files
# ======================================
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# ======================================
# Build directories
# ======================================
Debug/
Release/
x64/
x86/
build/

# ======================================
# C++ Build artifacts
# ======================================
*.obj
*.o
*.exe
*.dll
*.lib
*.ilk
*.exp
*.manifest

# ======================================
# Logs & temp
# ======================================
*.log
*.tmp

# ======================================
# Backups
# ======================================
*.bak
*.old

# ======================================
# Misc
# ======================================
Thumbs.db
